{% include "head.html" %}
	
  <div class="container">
  
    <div class="row">
      <div class="col-md-12">
        <h1>Radio Player</h1>
      </div>
    <div>

		<div class="row">
			<div id="now-playing" class="col-md-6">
				{% if now_playing|length > 0 %}
					<h3>Now Playing</h3>
					{% for station in now_playing %}
						<h4>{{ status['stations'][station]['nicename'] }}</h4>
					{% endfor %}
				{% else %}
					<h3>Nothing playing now</h3>
						<h4>Choose a station below:</h4>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{% for station in status['stations'] %}
					{% if status['stations'][station]['status'] == "playing" %}
						<span class="station-data">
							<img class="station-logo" src="{{ url_for('static', filename='img/'+ status['stations'][station]['logo'] ) }}" />
							<button id="button-{{station}}" class="station" data-station="{{status['stations'][station]['nicename']}}" data-action="stop" data-target="{{ status['stations'][station]['stop'] }}" >Stop</button>
						</span>
					{% else %}
						<span class="station-data">
							<img  class="station-logo" src="{{ url_for('static', filename='img/'+ status['stations'][station]['logo'] ) }}" />
							<button id="button-{{station}}" class="station" data-station="{{status['stations'][station]['nicename']}}" data-action="play" data-target="{{ status['stations'][station]['play'] }}">Play</button>
						</span>
					{% 	endif %}
				{% endfor %}
				<button class="station" id="button-stop-all" data-station="all" data-action="stop-all" data-target="{{ url_for('radio')+'stop-all/' }}">Stop All</button>
			</div>
			
			<div class="col-md-3">
				<h3>Network</h3>
				{% if status['sysinfo']['network'][0] %}
					<p>Raspberry Pi is connected!</p>
					<p><strong>IP Address:</strong>{{ status['sysinfo']['network'][1] }}</p>
				{% else %}
					<p>Raspberry Pi is not connected!</p>
					<p>Maybe there's a network outage or the Pi is unplugged.</p>
				{% endif %}
			</div>
		</div>
		<!-- <row>
			<div class="col-md-12">
				<h3>Available keys</h3>
				<pre>{{ status.keys() }}</pre>
				<h3>Sys Info</h3>
				<pre>{{ status['sysinfo'] }}</pre>
				<h3>Now Playing</h3>
				<pre>{{ status['playing-stations'] }}</pre>
				<h3>Stopped stations</h3>
				<pre>{{ status['stopped-stations']}}</pre>
				<h3>Available stations</h3>
				<pre>{{ status['all-stations'] }}</pre>
			</div>
		</row> -->
{% include "footer.html" %}